extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre nosotros 
        .row.mb-5
            .col-md-6
                p Nullam rutrum nulla nisi, posuere rutrum quam iaculis dictum. Sed eu dolor eu tortor ultrices congue. Suspendisse eleifend consectetur tempor. Aliquam porttitor dignissim orci eu cursus. Vestibulum tristique ante sit amet sodales iaculis. Praesent aliquam, enim quis dictum iaculis, massa elit tristique nulla, at congue quam est quis justo.  
                p Vestibulum ullamcorper ornare ligula in imperdiet. Phasellus commodo turpis nec elit dapibus consequat. Nulla accumsan odio vel eros ornare, ac maximus nulla tristique. Cras nec luctus turpis. Cras lacinia tortor vel dolor viverra posuere. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container 
            .row 
                .col-md-6 
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzzo de 2022
                        p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales
