extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Maecenas volutpat vehicula est non auctor. Nulla eget rhoncus lacus, a fringilla velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam erat volutpat. Aenean ut ante id velit molestie posuere sed vitae urna. Donec fringilla vehicula neque id accumsan. Vestibulum lorem felis, sodales eu maximus vel, mollis vitae tellus. Morbi ut nibh feugiat, pulvinar quam eget, porttitor mi. 

                p Etiam placerat elementum ante, sit amet interdum arcu volutpat sed. Sed mattis condimentum magna, ut ultricies arcu dapibus quis. Sed posuere pellentesque velit id sagittis. Quisque malesuada, quam et aliquam aliquam, ligula ligula aliquet metus, eget vulputate nulla lacus eget sapien. 

                p Nulla lectus lacus, efficitur non tellus in, rutrum placerat lorem. Proin blandit libero id condimentum sodales. Ut mattis tincidunt volutpat. Etiam vel neque sit amet nulla interdum eleifend. Duis commodo sodales laoreet. In vestibulum lectus sapien, in sollicitudin arcu cursus sit amet. Proin rhoncus vel libero quis lacinia. Ut sit amet mauris suscipit, sollicitudin magna placerat, efficitur metus. Donec a accumsan tellus. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Proin rhoncus vel libero quis lacinia. Ut sit amet mauris suscipit, sollicitudin magna placerat, efficitur metus. Donec a accumsan tellus.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Proin rhoncus vel libero quis lacinia. Ut sit amet mauris suscipit, sollicitudin magna placerat, efficitur metus. Donec a accumsan tellus.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Proin rhoncus vel libero quis lacinia. Ut sit amet mauris suscipit, sollicitudin magna placerat, efficitur metus. Donec a accumsan tellus.
